defaults/flow.json
[
  {
    "id": "577b7a91.096d94",
    "type": "tab",
    "label": "Main"
  },
  {
    "id": "c097b169.42759",
    "type": "tab",
    "label": "Shields"
  },
  {
    "id": "88cde31f.cd3d4",
    "type": "tab",
    "label": "Devices"
  },
  {
    "id": "f2365b53.0a5be8",
    "type": "tab",
    "label": "Active Shields"
  },
  {
    "id": "532a8de4.58e8a4",
    "type": "tab",
    "label": "Hazard Events"
  },
  {
    "id": "ec340a9e.3a0898",
    "type": "ui_group",
    "z": "",
    "name": "Create User",
    "tab": "",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "2714de9f.0fbee2",
    "type": "ui_group",
    "z": "",
    "name": "Result",
    "tab": "",
    "order": 3,
    "disp": true,
    "width": "6"
  },
  {
    "id": "a0228ac7.9ea878",
    "type": "ui_group",
    "z": "",
    "name": "Read User",
    "tab": "",
    "order": 2,
    "disp": true,
    "width": "6"
  },
  {
    "id": "8d6ccdce.a6e26",
    "type": "ui_group",
    "z": "",
    "name": "Results",
    "tab": "",
    "order": 2,
    "disp": true,
    "width": "6"
  },
  {
    "id": "54b34329.667eec",
    "type": "ui_group",
    "z": "",
    "name": "Results",
    "tab": "",
    "order": 3,
    "disp": true,
    "width": "6"
  },
  {
    "id": "34d6e560.67917a",
    "type": "ui_group",
    "z": "",
    "name": "Results",
    "tab": "",
    "order": 3,
    "disp": true,
    "width": "6"
  },
  {
    "id": "a379238e.0d37",
    "type": "ui_group",
    "z": "",
    "name": "Results",
    "tab": "",
    "order": 3,
    "disp": true,
    "width": "6"
  },
  {
    "id": "a44c5032.c167b",
    "type": "ui_group",
    "z": "",
    "name": "Connect to IoT4I",
    "tab": "",
    "disp": true,
    "width": "6"
  },
  {
    "id": "53d26c73.35d074",
    "type": "ui_group",
    "z": "",
    "name": "Create Shield",
    "tab": "",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "4ade57c5.a1a148",
    "type": "ui_group",
    "z": "",
    "name": "Read Shield",
    "tab": "",
    "order": 2,
    "disp": true,
    "width": "6"
  },
  {
    "id": "86d0813.b50b48",
    "type": "ui_group",
    "z": "",
    "name": "Create Shield JSCode",
    "tab": "",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "1130e191.10b2de",
    "type": "ui_group",
    "z": "",
    "name": "Read Shield JSCode",
    "tab": "",
    "order": 2,
    "disp": true,
    "width": "6"
  },
  {
    "id": "c9ca5898.8be868",
    "type": "ui_group",
    "z": "",
    "name": "Create Shield Association",
    "tab": "",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "1207e646.3eb32a",
    "type": "ui_group",
    "z": "",
    "name": "Read Shield Association",
    "tab": "",
    "order": 2,
    "disp": true,
    "width": "6"
  },
  {
    "id": "a92908d9.732628",
    "type": "ui_group",
    "z": "",
    "name": "Results",
    "tab": "",
    "order": 2,
    "disp": true,
    "width": "6"
  },
  {
    "id": "6367ffa9.33a02",
    "type": "ui_group",
    "z": "",
    "name": "Simulate Event",
    "tab": "",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "be495a54.4d6708",
    "type": "ui_group",
    "z": "",
    "name": "Get Hazard Events",
    "tab": "",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "eefc1ab0.b67de8",
    "type": "ui_group",
    "z": "",
    "name": "",
    "tab": "b2c582b4.cf6a",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "56393c29.b0b7c4",
    "type": "ui_group",
    "z": "",
    "name": "Results",
    "tab": "",
    "order": 2,
    "disp": true,
    "width": "6"
  },
  {
    "id": "ed037324.67b1e",
    "type": "ui_group",
    "z": "",
    "name": "Results",
    "tab": "",
    "order": 3,
    "disp": true,
    "width": "6"
  },
  {
    "id": "88daf2d7.c01ee",
    "type": "ui_group",
    "z": "",
    "name": "Results",
    "tab": "",
    "order": 3,
    "disp": true,
    "width": "6"
  },
  {
    "id": "47cdc4d2.f0fd4c",
    "type": "ui_group",
    "z": "",
    "name": "Results",
    "tab": "",
    "order": 3,
    "disp": true,
    "width": "6"
  },
  {
    "id": "a251f249.28ed7",
    "type": "ui_group",
    "z": "",
    "name": "Connect to IoT4I",
    "tab": "",
    "disp": true,
    "width": "6"
  },
  {
    "id": "a3385a75.cb7dc8",
    "type": "ui_group",
    "z": "",
    "name": "Create Shield",
    "tab": "",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "d8c591d3.7e6d",
    "type": "ui_group",
    "z": "",
    "name": "Read Shield",
    "tab": "",
    "order": 2,
    "disp": true,
    "width": "6"
  },
  {
    "id": "14e0c8d.dfb4437",
    "type": "ui_group",
    "z": "",
    "name": "Create Shield JSCode",
    "tab": "",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "9db10909.1cd0f8",
    "type": "ui_group",
    "z": "",
    "name": "Read Shield JSCode",
    "tab": "",
    "order": 2,
    "disp": true,
    "width": "6"
  },
  {
    "id": "c55a91ab.e09ad",
    "type": "ui_group",
    "z": "",
    "name": "Create Shield Association",
    "tab": "",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "c62bbb3e.dd2178",
    "type": "ui_group",
    "z": "",
    "name": "Read Shield Association",
    "tab": "",
    "order": 2,
    "disp": true,
    "width": "6"
  },
  {
    "id": "31e81e75.cbed02",
    "type": "ui_group",
    "z": "",
    "name": "Results",
    "tab": "",
    "order": 2,
    "disp": true,
    "width": "6"
  },
  {
    "id": "86678db5.c2f96",
    "type": "ui_group",
    "z": "",
    "name": "Simulate Event",
    "tab": "",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "e58f16b5.14dd48",
    "type": "ui_group",
    "z": "",
    "name": "Get Hazard Events",
    "tab": "",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "b2c582b4.cf6a",
    "type": "ui_tab",
    "z": "",
    "name": "User",
    "icon": "dashboard",
    "order": 1
  },
  {
    "id": "c84b4ffe.371c3",
    "type": "ui_group",
    "z": "",
    "name": "Group 2",
    "tab": "365b87f6.e3a158",
    "order": 2,
    "disp": true,
    "width": "6"
  },
  {
    "id": "42cbf03b.3977d",
    "type": "ui_tab",
    "z": "",
    "name": "Shields",
    "icon": "dashboard",
    "order": 2
  },
  {
    "id": "701e9ba6.950384",
    "type": "ui_group",
    "z": "",
    "name": "Available Shields",
    "tab": "42cbf03b.3977d",
    "order": 2,
    "disp": true,
    "width": "6"
  },
  {
    "id": "18c769df.f08906",
    "type": "ui_tab",
    "z": "",
    "name": "Devices",
    "icon": "dashboard",
    "order": 3
  },
  {
    "id": "8c40d65c.ae6068",
    "type": "ui_group",
    "z": "",
    "name": "My Devices",
    "tab": "18c769df.f08906",
    "order": 2,
    "disp": true,
    "width": "6"
  },
  {
    "id": "d08afd81.003cf",
    "type": "ui_tab",
    "z": "",
    "name": "Active Shields",
    "icon": "dashboard",
    "order": 4
  },
  {
    "id": "f09553cb.a86f9",
    "type": "ui_group",
    "z": "",
    "name": "Active Shields",
    "tab": "d08afd81.003cf",
    "order": 2,
    "disp": true,
    "width": "6"
  },
  {
    "id": "e2db83cd.653de",
    "type": "ui_tab",
    "z": "",
    "name": "Hazard Events",
    "icon": "dashboard",
    "order": 5
  },
  {
    "id": "63c64e13.dc875",
    "type": "ui_group",
    "z": "",
    "name": "Hazard Events",
    "tab": "e2db83cd.653de",
    "order": 2,
    "disp": true,
    "width": "6"
  },
  {
    "id": "4493a791.d1f468",
    "type": "ui_group",
    "z": "",
    "name": "Actions",
    "tab": "42cbf03b.3977d",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "ea982de6.80a2e",
    "type": "ui_group",
    "z": "",
    "name": "Shield Details",
    "tab": "42cbf03b.3977d",
    "order": 3,
    "disp": true,
    "width": "6"
  },
  {
    "id": "5964c4c6.7e949c",
    "type": "ui_group",
    "z": "",
    "name": "Actions",
    "tab": "18c769df.f08906",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "6773726f.2ed08c",
    "type": "ui_group",
    "z": "",
    "name": "Details",
    "tab": "18c769df.f08906",
    "order": 3,
    "disp": true,
    "width": "6"
  },
  {
    "id": "adc2d579.8dbca8",
    "type": "ui_group",
    "z": "",
    "name": "Actions",
    "tab": "d08afd81.003cf",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "feb6e905.fa14a8",
    "type": "ui_group",
    "z": "",
    "name": "Details",
    "tab": "d08afd81.003cf",
    "order": 3,
    "disp": true,
    "width": "6"
  },
  {
    "id": "8e538a7.a756e78",
    "type": "ui_group",
    "z": "",
    "name": "Actions",
    "tab": "e2db83cd.653de",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "29bbbef3.b20422",
    "type": "ui_group",
    "z": "",
    "name": "Details",
    "tab": "e2db83cd.653de",
    "order": 3,
    "disp": true,
    "width": "6"
  },
  {
    "id": "75596cf2.87f2c4",
    "type": "ui_group",
    "z": "",
    "name": "Simulate Event",
    "tab": "",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "3c2016d7.fc7f3a",
    "type": "ui_group",
    "z": "",
    "name": "Simulate Hazard",
    "tab": "e2db83cd.653de",
    "order": 4,
    "disp": true,
    "width": "6"
  },
  {
    "id": "d1a66075.c24fb",
    "type": "IBMIoTI",
    "z": "577b7a91.096d94",
    "userid": "",
    "password": "",
    "uri": "",
    "name": "IoT4I ",
    "client": "based_on_input",
    "apisDevice": "",
    "apisGlobal": "",
    "apisHazardEvent": "",
    "apisJSCode": "",
    "apisPromotion": "",
    "apisRegistration": "",
    "apisShieldAssociation": "",
    "apisShield": "",
    "apisUser": "getUserPerUserName",
    "x": 465.71024322509766,
    "y": 109.44841575622559,
    "wires": [
      [
        "f2d71cce.2cc28",
        "8b81e870.f057d8",
        "cb8bc6a8.f94d18",
        "483359c3.3bd298"
      ]
    ]
  },
  {
    "id": "f2d71cce.2cc28",
    "type": "function",
    "z": "577b7a91.096d94",
    "name": "Login successful ",
    "func": " if (msg.connect === true)\n{\n    msg.payload = 1;\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 808.1984100341797,
    "y": 132.92063903808594,
    "wires": [
      [
        "ee938f9.8383e7"
      ]
    ]
  },
  {
    "id": "8b81e870.f057d8",
    "type": "function",
    "z": "577b7a91.096d94",
    "name": "Notifications Function",
    "func": "\nif (msg.api !== 'getHEventsForAuthUser' )\n{\n msg.payload = \"Please Login !\";\n}\n \nif (msg.connect === true)\n{\n    msg.payload = \"Login Succussful !\";\n}else if (msg.api === 'createUser' && !msg.error )\n{\n    msg.payload = \"Create User is Succussful !\";\n}else if (msg.api === 'getDevicesForAuthUser' && !msg.error )\n{\n    msg.payload = \"Get Devices is Succussful !\";\n}else if (msg.api === 'getAllShields' && !msg.error )\n{\n    msg.payload = \"Get Shields is Succussful !\";\n}else if (msg.api === 'getShieldAssociationsForAuthUser' && !msg.error )\n{\n    msg.payload = \"Get Active Shields is Succussful !\";\n}else if (msg.api === 'createShieldAssociation' && !msg.error )\n{\n    msg.payload = \"Shield Activated Succussfully !\";\n}else if (msg.error)\n{\n    msg.payload = \"Request Failed !\";\n}else if (msg.api === 'sendPayloadToMQTT' && !msg.error )\n{\n    msg.payload = \"Event Simulated Succussfully !\";\n}else if (msg.payload && msg.payload.hazard)\n{\n    msg.payload = msg.payload.hazardEvent.title;\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 815.2936592102051,
    "y": 71.03174877166748,
    "wires": [
      [
        "b5a667fc.618bc8"
      ]
    ]
  },
  {
    "id": "44ccc636.9a01c8",
    "type": "function",
    "z": "577b7a91.096d94",
    "name": "login function",
    "func": "\nif (msg.payload.signup_username)\n{\nvar user = {};\nuser.username = msg.payload.signup_username;\nuser.fullname = msg.payload.fullname;\nuser.password = msg.payload.signup_password;\nuser.accessLevel = msg.payload.accessLevel;\nuser.address = msg.payload.address;\nuser.email = msg.payload.email;\nuser.deviceId = msg.payload.deviceId;\nuser.deviceType = msg.payload.deviceType;\nuser.type = msg.payload.type;\nmsg.payload = {};\nmsg.payload.apiGroup = 'IotIUser';\nmsg.payload.api = 'createUser';\nmsg.payload.user = user;\n}else if (msg.payload.login_username)\n{\nvar serviceConfig = {};\nserviceConfig.userid =  msg.payload.login_username;\nserviceConfig.password =  msg.payload.login_password;\nmsg.payload = {};\nmsg.payload.configs = serviceConfig;\nglobal.set(\"username\",serviceConfig.userid);\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 253.8928394317627,
    "y": 114.03897285461426,
    "wires": [
      [
        "d1a66075.c24fb"
      ]
    ]
  },
  {
    "id": "ee938f9.8383e7",
    "type": "ui_ui_control",
    "z": "577b7a91.096d94",
    "name": "ui control",
    "x": 1054.430030822754,
    "y": 130.974027633667,
    "wires": [
      []
    ]
  },
  {
    "id": "77590e1c.63c57",
    "type": "ui_toast",
    "z": "577b7a91.096d94",
    "position": "top right",
    "displayTime": "3",
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "topic": "",
    "name": "Notification",
    "x": 1214.1268920898438,
    "y": 70.92063903808594,
    "wires": []
  },
  {
    "id": "31ba1bda.886fa4",
    "type": "ui_template",
    "z": "577b7a91.096d94",
    "group": "eefc1ab0.b67de8",
    "name": "Login Form",
    "order": 0,
    "width": "0",
    "height": "0",
    "format": " <form ng-submit=\"me.submit()\" ng-hide=\"hide\" name =\"loginform\">\n       <div layout-gt-sm=\"row\" >\n           <md-input-container  class=\"md-block\" flex>\n               <label >User Name</label>\n               <input type=\"text\" ng-model=\"login_username\" ng-required=\"true\" ng-keydown=\"me.stop($event)\">\n           </md-input-container>\n       </div>\n       <div layout-gt-sm=\"row\" >\n       <md-input-container  class=\"md-block\" flex>   \n           <label >Password</label>\n           <input type=\"password\" ng-model=\"login_password\" ng-required=\"true\" ng-keydown=\"me.stop($event)\">\n        </md-input-container>\n       </div>\n       <div layout-gt-sm=\"row\" style=\"padding:10px\">\n           <md-button type=\"submit\" style=\"min-height:46px; \" ng-click=\"send({payload:{login_username,login_password}})\" class=\"md-raised nr-dashboard-form-button\">Login</md-button>\n           <md-button  style=\"min-height:46px; \" class=\"md-raised nr-dashboard-form-button\" ng-click=\"hide =true\">Register</md-button>\n       </div>\n</form>\n\n\n<form ng-hide=\"!hide\" ng-submit=\"me.submit()\"  name =\"registerform\">\n       <div layout-gt-sm=\"row\" >\n           <md-input-container  class=\"md-block\" flex>\n               <label >User Name</label>\n               <input type=\"text\" ng-model=\"signup_username\" ng-required=\"true\" ng-keydown=\"me.stop($event)\">\n           </md-input-container>\n       </div>\n       <div layout-gt-sm=\"row\" >\n           <md-input-container  class=\"md-block\" flex>\n               <label >Full Name</label>\n               <input type=\"text\" ng-model=\"fullname\" ng-required=\"true\" ng-keydown=\"me.stop($event)\">\n           </md-input-container>\n       </div>\n       <div layout-gt-sm=\"row\" >\n       <md-input-container  class=\"md-block\" flex>   \n           <label >Password</label>\n           <input type=\"password\" ng-model=\"signup_password\" ng-required=\"true\" ng-keydown=\"me.stop($event)\">\n        </md-input-container>\n       </div>\n        <div layout-gt-sm=\"row\" >\n       <md-input-container  class=\"md-block\" flex>   \n           <label >accessLevel</label>\n           <input type=\"text\" ng-model=\"accessLevel\" ng-required=\"true\" ng-keydown=\"me.stop($event)\">\n        </md-input-container>\n       </div>\n       <div layout-gt-sm=\"row\" >\n       <md-input-container  class=\"md-block\" flex>   \n           <label >Address</label>\n           <input type=\"text\" ng-model=\"address\" ng-required=\"true\" ng-keydown=\"me.stop($event)\">\n        </md-input-container>\n       </div>\n       <div layout-gt-sm=\"row\" >\n       <md-input-container  class=\"md-block\" flex>   \n           <label >Email</label>\n           <input type=\"text\" ng-model=\"email\" ng-required=\"true\" ng-keydown=\"me.stop($event)\">\n        </md-input-container>\n       </div>\n        <div layout-gt-sm=\"row\" >\n       <md-input-container  class=\"md-block\" flex>   \n           <label >DeviceId</label>\n           <input type=\"text\" ng-model=\"deviceId\" ng-required=\"true\" ng-keydown=\"me.stop($event)\">\n        </md-input-container>\n       </div>\n        <div layout-gt-sm=\"row\" >\n       <md-input-container  class=\"md-block\" flex>   \n           <label >DeviceType</label>\n           <input type=\"text\" ng-model=\"deviceType\" ng-required=\"true\" ng-keydown=\"me.stop($event)\">\n        </md-input-container>\n       </div>\n        <div layout-gt-sm=\"row\" >\n       <md-input-container  class=\"md-block\" flex>   \n           <label >Type</label>\n           <input type=\"text\" ng-model=\"type\" ng-required=\"true\" ng-keydown=\"me.stop($event)\">\n        </md-input-container>\n       </div>\n       <div layout-gt-sm=\"row\" style=\"padding:10px\">\n           <md-button type=\"submit\" style=\"min-height:46px; \" ng-click=\"send({payload:{signup_username,fullname,signup_password,accessLevel,address,email,deviceId,deviceType,type}})\" class=\"md-raised nr-dashboard-form-button\">Register</md-button>\n           <md-button class=\"md-raised nr-dashboard-form-button\" style=\"min-height:46px; \" ng-click=\"hide =false\">Login</md-button>\n       </div>\n</form>\n",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "x": 76.79545593261719,
    "y": 113.74999618530273,
    "wires": [
      [
        "44ccc636.9a01c8"
      ]
    ]
  },
  {
    "id": "cb8bc6a8.f94d18",
    "type": "switch",
    "z": "577b7a91.096d94",
    "name": "start",
    "property": "connect",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 773.0807991027832,
    "y": 241.01007652282715,
    "wires": [
      [
        "941e000c.d6102",
        "47e2e06b.d755f",
        "689beff4.441c6",
        "803e7f66.f2e4f"
      ]
    ]
  },
  {
    "id": "168eedae.aa4be2",
    "type": "ui_ui_control",
    "z": "577b7a91.096d94",
    "name": "ui control",
    "x": 94.39393997192383,
    "y": 398.2828559875488,
    "wires": [
      [
        "bce2c267.cbf1e"
      ]
    ]
  },
  {
    "id": "bce2c267.cbf1e",
    "type": "function",
    "z": "577b7a91.096d94",
    "name": "",
    "func": "var serviceConfig = {};\nserviceConfig.userid =  'wrong userid';\nserviceConfig.password =  'wrong pass';\nmsg.payload = {};\nmsg.payload.configs = serviceConfig;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 260.3939399719238,
    "y": 392.2828559875488,
    "wires": [
      [
        "d1a66075.c24fb",
        "c4482fb3.2af13",
        "85ef580e.64d468",
        "914ac7b.70f5638",
        "408dc224.deff3c"
      ]
    ]
  },
  {
    "id": "3e06d5cc.2771fa",
    "type": "comment",
    "z": "577b7a91.096d94",
    "name": "Reset all",
    "info": "Maybe reset all UI element when new connection recieved",
    "x": 267.56060791015625,
    "y": 349.2828674316406,
    "wires": []
  },
  {
    "id": "483359c3.3bd298",
    "type": "link out",
    "z": "577b7a91.096d94",
    "name": "IoT4iOut",
    "links": [
      "6afcecab.413244",
      "4a11deb.a87af2",
      "b118766e.f7d538",
      "ff2d4295.76429"
    ],
    "x": 736.1109247207642,
    "y": 186.66665840148926,
    "wires": []
  },
  {
    "id": "8102fe9c.94993",
    "type": "link in",
    "z": "577b7a91.096d94",
    "name": "iot4iIn",
    "links": [
      "c1a29979.d22ff8",
      "1a4c9754.1cf769",
      "5a4af2f1.7d100c",
      "9d385132.a7bec"
    ],
    "x": 240.55557823181152,
    "y": 233.3333225250244,
    "wires": [
      [
        "d1a66075.c24fb"
      ]
    ]
  },
  {
    "id": "b2a9cdaf.dfade",
    "type": "function",
    "z": "c097b169.42759",
    "name": "shields function",
    "func": "msg.payload = {};\nmsg.payload.apiGroup = 'IotIShield';\nmsg.payload.api = 'getAllShields';\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 998.8888893127441,
    "y": 164.44445133209229,
    "wires": [
      [
        "c1a29979.d22ff8"
      ]
    ]
  },
  {
    "id": "e13e7631.720b48",
    "type": "switch",
    "z": "c097b169.42759",
    "name": "results",
    "property": "api",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "getAllShields",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 170.05054473876953,
    "y": 226.9696741104126,
    "wires": [
      [
        "326289ea.687076"
      ]
    ]
  },
  {
    "id": "326289ea.687076",
    "type": "function",
    "z": "c097b169.42759",
    "name": "",
    "func": " if (!msg.error)\n{\n    msg.payload = JSON.parse(msg.body);\n}else\n{\n    msg.payload = 'failed';\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 339.7979407310486,
    "y": 225.35354614257812,
    "wires": [
      [
        "4dcac5ed.97ec2c"
      ]
    ]
  },
  {
    "id": "4dcac5ed.97ec2c",
    "type": "ui_template",
    "z": "c097b169.42759",
    "group": "701e9ba6.950384",
    "name": "my shields",
    "order": 0,
    "width": "6",
    "height": "8",
    "format": "\n<div ng-hide=\"(msg.payload === 'failed')\" ng-if=\"msg.payload.shields.length > 0\"\n      ng-repeat=\"shield in msg.payload.shields\">\n           <div layout-gt-sm=\"row\"  style=\"padding-bottom:20px\" ng-click=\"send({payload:{refresh:true,showShield:true,shield:shield}})\">\n            <img width=\"50\" height=\"50\"  src=\"http://www.clker.com/cliparts/2/0/e/c/13846753761936242758green-shield.svg.med.png\" class=\"sport-image\"> \n            <span style= \"padding-left: 10px; padding-top:12px\">{{shield.name}}</span>\n            <span flex></span>\n          <md-button style=\"width: 30%; margin-left: 20px;\" class=\"md-raised nr-dashboard-form-button\" ng-click=\"send({payload:{refresh:true,activateShield:true,shieldUUID:shield.UUID,shieldName:shield.name}})\">Activate</md-button>\n        </div>\n</div>\n\n<div ng-if=\"(msg.payload.shields.length == 0) || (msg.payload === 'failed')\">\n        <div>\n           <span>No Shields Available</span>\n        </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "x": 525.9595923423767,
    "y": 227.57576179504395,
    "wires": [
      [
        "11f74b49.48d695",
        "275a64b2.23601c",
        "daeb89a6.908348"
      ]
    ]
  },
  {
    "id": "11f74b49.48d695",
    "type": "switch",
    "z": "c097b169.42759",
    "name": "",
    "property": "payload.refresh",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 806.1111755371094,
    "y": 163.58587455749512,
    "wires": [
      [
        "b2a9cdaf.dfade"
      ]
    ]
  },
  {
    "id": "6afcecab.413244",
    "type": "link in",
    "z": "c097b169.42759",
    "name": "",
    "links": [
      "483359c3.3bd298"
    ],
    "x": 48.3333683013916,
    "y": 228.8889045715332,
    "wires": [
      [
        "e13e7631.720b48"
      ]
    ]
  },
  {
    "id": "c1a29979.d22ff8",
    "type": "link out",
    "z": "c097b169.42759",
    "name": "",
    "links": [
      "8102fe9c.94993"
    ],
    "x": 1147.2222895622253,
    "y": 202.77779483795166,
    "wires": []
  },
  {
    "id": "f4596542.2e9598",
    "type": "link in",
    "z": "c097b169.42759",
    "name": "shieldStartIN",
    "links": [
      "941e000c.d6102"
    ],
    "x": 662.7777777777777,
    "y": 336.6666666666667,
    "wires": [
      [
        "b2a9cdaf.dfade"
      ]
    ]
  },
  {
    "id": "941e000c.d6102",
    "type": "link out",
    "z": "577b7a91.096d94",
    "name": "",
    "links": [
      "f4596542.2e9598"
    ],
    "x": 1042.7777614593506,
    "y": 206.66667556762695,
    "wires": []
  },
  {
    "id": "dd2c0659.2a6b18",
    "type": "switch",
    "z": "88cde31f.cd3d4",
    "name": "results",
    "property": "api",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "getDevicesForAuthUser",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 176.71717643737793,
    "y": 159.19188451766968,
    "wires": [
      [
        "cf7083dc.9ee2c"
      ]
    ]
  },
  {
    "id": "cf7083dc.9ee2c",
    "type": "function",
    "z": "88cde31f.cd3d4",
    "name": "",
    "func": " if (!msg.error)\n{\n    msg.payload = JSON.parse(msg.body);\n}else\n{\n    msg.payload = 'failed';\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 346.464572429657,
    "y": 157.5757565498352,
    "wires": [
      [
        "49f76945.f80478"
      ]
    ]
  },
  {
    "id": "49f76945.f80478",
    "type": "ui_template",
    "z": "88cde31f.cd3d4",
    "group": "8c40d65c.ae6068",
    "name": "my devices",
    "order": 0,
    "width": "6",
    "height": "8",
    "format": "\n\n<div ng-hide=\"(msg.payload === 'failed')\" ng-if=\"msg.payload.length > 0 \"\n      ng-repeat=\"device in msg.payload\" >\n           <div layout-gt-sm=\"row\" style=\"padding-bottom:20px\"  ng-click=\"send({payload:{refresh:true,showDevice:true,device:device}})\">\n            <img width=\"50\" height=\"50\"  src=\"http://findicons.com/files/icons/1580/devine_icons_part_2/512/device_and_hardware.png\" class=\"sport-image\"> \n            <span style= \"padding-left: 10px\">{{device.extra.deviceDesc}}</span>\n        </div>\n</div>\n\n<div ng-if=\"(msg.payload.length == 0) || (msg.payload === 'failed')\">\n        <div>\n           <span>No Devices Available</span>\n        </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "x": 532.6262240409851,
    "y": 159.79797220230103,
    "wires": [
      [
        "373aa18d.91b4ae",
        "7e46485.44831b8"
      ]
    ]
  },
  {
    "id": "373aa18d.91b4ae",
    "type": "switch",
    "z": "88cde31f.cd3d4",
    "name": "",
    "property": "payload.refresh",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 799.444450378418,
    "y": 145.80808067321777,
    "wires": [
      [
        "fc4a80e1.3392e"
      ]
    ]
  },
  {
    "id": "4a11deb.a87af2",
    "type": "link in",
    "z": "88cde31f.cd3d4",
    "name": "",
    "links": [
      "483359c3.3bd298"
    ],
    "x": 55,
    "y": 161.11111497879028,
    "wires": [
      [
        "dd2c0659.2a6b18"
      ]
    ]
  },
  {
    "id": "1a4c9754.1cf769",
    "type": "link out",
    "z": "88cde31f.cd3d4",
    "name": "",
    "links": [
      "8102fe9c.94993"
    ],
    "x": 1148.8888359069824,
    "y": 145.0000114440918,
    "wires": []
  },
  {
    "id": "1ff7998e.df1bf6",
    "type": "link in",
    "z": "88cde31f.cd3d4",
    "name": "devicesStartIN",
    "links": [
      "47e2e06b.d755f"
    ],
    "x": 669.4444094763861,
    "y": 268.88887707392377,
    "wires": [
      [
        "fc4a80e1.3392e"
      ]
    ]
  },
  {
    "id": "fc4a80e1.3392e",
    "type": "function",
    "z": "88cde31f.cd3d4",
    "name": "devices function",
    "func": "\nmsg.payload = {};\nmsg.payload.apiGroup = 'IotIDevice';\nmsg.payload.api = 'getDevicesForAuthUser';\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1000.555534362793,
    "y": 130.55556297302246,
    "wires": [
      [
        "1a4c9754.1cf769"
      ]
    ]
  },
  {
    "id": "47e2e06b.d755f",
    "type": "link out",
    "z": "577b7a91.096d94",
    "name": "",
    "links": [
      "1ff7998e.df1bf6"
    ],
    "x": 1048.3333333333333,
    "y": 276.6666666666667,
    "wires": []
  },
  {
    "id": "a092e5a8.cad568",
    "type": "switch",
    "z": "f2365b53.0a5be8",
    "name": "results",
    "property": "api",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "getShieldAssociationsForAuthUser",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 193.3333282470703,
    "y": 109.99999237060547,
    "wires": [
      [
        "d7673126.51c5e"
      ]
    ]
  },
  {
    "id": "d7673126.51c5e",
    "type": "function",
    "z": "f2365b53.0a5be8",
    "name": "",
    "func": " if (!msg.error)\n{\n    msg.payload = JSON.parse(msg.body);\n}else\n{\n    msg.payload = 'failed';\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 363.08072423934937,
    "y": 108.383864402771,
    "wires": [
      [
        "5ef6a84f.2a14e8"
      ]
    ]
  },
  {
    "id": "5ef6a84f.2a14e8",
    "type": "ui_template",
    "z": "f2365b53.0a5be8",
    "group": "f09553cb.a86f9",
    "name": "active shields",
    "order": 0,
    "width": "6",
    "height": "8",
    "format": "\n\n<div ng-hide=\"(msg.payload === 'failed')\" ng-if=\"msg.payload.shieldassociations.length > 0\"\n      ng-repeat=\"shield in msg.payload.shieldassociations\">\n           <div layout-gt-sm=\"row\" style=\"padding-bottom:20px\" ng-click=\"send({payload:{refresh:true,showShield:true,shield:shield}})\" >\n            <img width=\"50\" height=\"50\"  src=\"http://www.clker.com/cliparts/2/0/e/c/13846753761936242758green-shield.svg.med.png\" class=\"sport-image\"> \n            <span style= \"padding-left: 10px;  padding-top:12px;\">{{shield.shieldName}}</span>\n        </div>\n</div>\n\n<div ng-if=\"(msg.payload.shieldassociations.length == 0) || (msg.payload === 'failed')\">\n        <div>\n           <span>No Shield Activation Exists</span>\n        </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "x": 529.2423706054688,
    "y": 124.49497365951538,
    "wires": [
      [
        "c8919075.15ae4",
        "1d557e4e.fecbe2"
      ]
    ]
  },
  {
    "id": "c8919075.15ae4",
    "type": "switch",
    "z": "f2365b53.0a5be8",
    "name": "",
    "property": "payload.refresh",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 782.7272415161133,
    "y": 114.94951343536377,
    "wires": [
      [
        "5a1363a4.b6799c"
      ]
    ]
  },
  {
    "id": "b118766e.f7d538",
    "type": "link in",
    "z": "f2365b53.0a5be8",
    "name": "",
    "links": [
      "483359c3.3bd298"
    ],
    "x": 71.61615180969238,
    "y": 111.91922283172607,
    "wires": [
      [
        "a092e5a8.cad568"
      ]
    ]
  },
  {
    "id": "5a4af2f1.7d100c",
    "type": "link out",
    "z": "f2365b53.0a5be8",
    "name": "",
    "links": [
      "8102fe9c.94993"
    ],
    "x": 1162.171672821045,
    "y": 108.58589172363281,
    "wires": []
  },
  {
    "id": "e4d28386.4c65c",
    "type": "link in",
    "z": "f2365b53.0a5be8",
    "name": "activeShieldsStartIN",
    "links": [
      "689beff4.441c6"
    ],
    "x": 784.3938875198364,
    "y": 220.2525520324707,
    "wires": [
      [
        "5a1363a4.b6799c"
      ]
    ]
  },
  {
    "id": "5a1363a4.b6799c",
    "type": "function",
    "z": "f2365b53.0a5be8",
    "name": "active shields function",
    "func": "\nmsg.payload = {};\nmsg.payload.apiGroup = 'IotIShieldAssociation';\nmsg.payload.api = 'getShieldAssociationsForAuthUser';\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1003.8382949829102,
    "y": 113.03033638000488,
    "wires": [
      [
        "5a4af2f1.7d100c"
      ]
    ]
  },
  {
    "id": "689beff4.441c6",
    "type": "link out",
    "z": "577b7a91.096d94",
    "name": "",
    "links": [
      "e4d28386.4c65c"
    ],
    "x": 1048.3333072662354,
    "y": 337.7777843475342,
    "wires": []
  },
  {
    "id": "8f6fb3d4.b02bf",
    "type": "link in",
    "z": "c097b169.42759",
    "name": "resetShields",
    "links": [
      "c4482fb3.2af13"
    ],
    "x": 241.5,
    "y": 338,
    "wires": [
      [
        "2b3b8d3d.7282b2",
        "6bffc34f.11ba9c"
      ]
    ]
  },
  {
    "id": "2b3b8d3d.7282b2",
    "type": "function",
    "z": "c097b169.42759",
    "name": "",
    "func": "\nmsg.payload = 'failed';\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 356,
    "y": 286,
    "wires": [
      [
        "4dcac5ed.97ec2c",
        "4424de52.39026",
        "4ea50968.1b2958"
      ]
    ]
  },
  {
    "id": "c4482fb3.2af13",
    "type": "link out",
    "z": "577b7a91.096d94",
    "name": "",
    "links": [
      "8f6fb3d4.b02bf"
    ],
    "x": 474.5,
    "y": 366,
    "wires": []
  },
  {
    "id": "ae2e9c0b.aaed4",
    "type": "function",
    "z": "88cde31f.cd3d4",
    "name": "",
    "func": "\n    msg.payload = 'failed';\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 379,
    "y": 252,
    "wires": [
      [
        "49f76945.f80478",
        "b4a45892.bfd848"
      ]
    ]
  },
  {
    "id": "6c449fe2.07763",
    "type": "link in",
    "z": "88cde31f.cd3d4",
    "name": "resetDevices",
    "links": [
      "85ef580e.64d468"
    ],
    "x": 262.5,
    "y": 263,
    "wires": [
      [
        "ae2e9c0b.aaed4"
      ]
    ]
  },
  {
    "id": "85ef580e.64d468",
    "type": "link out",
    "z": "577b7a91.096d94",
    "name": "",
    "links": [
      "6c449fe2.07763"
    ],
    "x": 475.5,
    "y": 411,
    "wires": []
  },
  {
    "id": "111530d1.b42b5f",
    "type": "link in",
    "z": "f2365b53.0a5be8",
    "name": "resetActiveShields",
    "links": [
      "914ac7b.70f5638"
    ],
    "x": 269.5,
    "y": 245,
    "wires": [
      [
        "90c5cbb5.b0b108"
      ]
    ]
  },
  {
    "id": "90c5cbb5.b0b108",
    "type": "function",
    "z": "f2365b53.0a5be8",
    "name": "",
    "func": "\n    msg.payload = 'failed';\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 362,
    "y": 180,
    "wires": [
      [
        "5ef6a84f.2a14e8",
        "a9c48dfe.d89fa"
      ]
    ]
  },
  {
    "id": "914ac7b.70f5638",
    "type": "link out",
    "z": "577b7a91.096d94",
    "name": "",
    "links": [
      "111530d1.b42b5f"
    ],
    "x": 476.5,
    "y": 462,
    "wires": []
  },
  {
    "id": "9fb6a6c6.2e2948",
    "type": "function",
    "z": "532a8de4.58e8a4",
    "name": "HEvents function",
    "func": "msg.payload = {};\nmsg.payload.apiGroup = 'IotIHazardEvent';\nmsg.payload.api = 'getHEventsForAuthUser';\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 908.8888549804688,
    "y": 174,
    "wires": [
      [
        "9d385132.a7bec"
      ]
    ]
  },
  {
    "id": "65cf9e25.33697",
    "type": "switch",
    "z": "532a8de4.58e8a4",
    "name": "results",
    "property": "api",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "getHEventsForAuthUser",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 174.71717643737793,
    "y": 115.52522802352905,
    "wires": [
      [
        "d3f377e7.e55578"
      ]
    ]
  },
  {
    "id": "d3f377e7.e55578",
    "type": "function",
    "z": "532a8de4.58e8a4",
    "name": "",
    "func": " if (!msg.error)\n{\n    msg.payload = JSON.parse(msg.body);\n}else\n{\n    msg.payload = 'failed';\n}\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 344.464572429657,
    "y": 113.90910005569458,
    "wires": [
      [
        "6ff3ee06.a7dc6",
        "f99abac2.5bf4e8",
        "bdba3499.060e98"
      ]
    ]
  },
  {
    "id": "6ff3ee06.a7dc6",
    "type": "ui_template",
    "z": "532a8de4.58e8a4",
    "group": "63c64e13.dc875",
    "name": "my HEvents",
    "order": 0,
    "width": "6",
    "height": "8",
    "format": "\n\n<div ng-hide=\"(msg.payload === 'failed')\" ng-if=\"msg.payload.hazardEvents.length > 0\"\n      ng-repeat=\"hazardEvent in msg.payload.hazardEvents\">\n           <div layout-gt-sm=\"row\" style=\"padding-bottom:20px\" ng-click=\"send({payload:{refresh:true,showHazardEvent:true,hazardEvent:hazardEvent}})\" >\n            <img width=\"50\" height=\"50\"  src=\"http://www.nzta.govt.nz/assets/resources/traffic-control-devices-manual/sign-specifications/images/pw10-01-nolabels.gif\" class=\"sport-image\"> \n            <span style= \"padding-left: 10px;  padding-top:12px\">{{hazardEvent.title}}</span>\n        </div>\n</div>\n\n<div ng-if=\"(msg.payload.hazardEvents.length == 0) || (msg.payload === 'failed')\">\n        <div>\n           <span>No Hazard Events Exists</span>\n        </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "x": 515.626220703125,
    "y": 99.13131713867188,
    "wires": [
      [
        "c81d1a36.826858",
        "ece178b0.a3f828"
      ]
    ]
  },
  {
    "id": "c81d1a36.826858",
    "type": "switch",
    "z": "532a8de4.58e8a4",
    "name": "",
    "property": "payload.refresh",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 742.1111450195312,
    "y": 90.4747543334961,
    "wires": [
      [
        "9fb6a6c6.2e2948"
      ]
    ]
  },
  {
    "id": "ff2d4295.76429",
    "type": "link in",
    "z": "532a8de4.58e8a4",
    "name": "",
    "links": [
      "483359c3.3bd298"
    ],
    "x": 53,
    "y": 117.44445848464966,
    "wires": [
      [
        "65cf9e25.33697"
      ]
    ]
  },
  {
    "id": "9d385132.a7bec",
    "type": "link out",
    "z": "532a8de4.58e8a4",
    "name": "",
    "links": [
      "8102fe9c.94993"
    ],
    "x": 1091.5555419921875,
    "y": 172.66668701171875,
    "wires": []
  },
  {
    "id": "1b568f00.283201",
    "type": "link in",
    "z": "532a8de4.58e8a4",
    "name": "hEventsStartIN",
    "links": [
      "803e7f66.f2e4f"
    ],
    "x": 556.4443969726562,
    "y": 219.2222137451172,
    "wires": [
      [
        "9fb6a6c6.2e2948"
      ]
    ]
  },
  {
    "id": "2308c132.19105e",
    "type": "link in",
    "z": "532a8de4.58e8a4",
    "name": "resetHEvents",
    "links": [
      "408dc224.deff3c"
    ],
    "x": 245.1666259765625,
    "y": 179.55555725097656,
    "wires": [
      [
        "46ca8f85.11746"
      ]
    ]
  },
  {
    "id": "46ca8f85.11746",
    "type": "function",
    "z": "532a8de4.58e8a4",
    "name": "",
    "func": "\nmsg.payload = 'failed';\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 514.6666259765625,
    "y": 171.55555725097656,
    "wires": [
      [
        "6ff3ee06.a7dc6",
        "6a9600.35e5da"
      ]
    ]
  },
  {
    "id": "408dc224.deff3c",
    "type": "link out",
    "z": "577b7a91.096d94",
    "name": "",
    "links": [
      "2308c132.19105e"
    ],
    "x": 471.5,
    "y": 519,
    "wires": []
  },
  {
    "id": "803e7f66.f2e4f",
    "type": "link out",
    "z": "577b7a91.096d94",
    "name": "",
    "links": [
      "1b568f00.283201"
    ],
    "x": 1041.5,
    "y": 401,
    "wires": []
  },
  {
    "id": "f99abac2.5bf4e8",
    "type": "debug",
    "z": "532a8de4.58e8a4",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 480.5,
    "y": 266,
    "wires": []
  },
  {
    "id": "6c0039e8.88f538",
    "type": "function",
    "z": "c097b169.42759",
    "name": "activate shield",
    "func": "\nvar shieldUUID = msg.payload.shieldUUID;\nvar shieldName = msg.payload.shieldName;\nvar username = global.get(\"username\"); \nmsg.payload = {};\nmsg.payload.apiGroup = 'IotIShieldAssociation';\nmsg.payload.api = 'createShieldAssociation';\nvar shieldAssociation = {};\nshieldAssociation.shieldUUID = shieldUUID;\nshieldAssociation.username = username;\nshieldAssociation.shieldName = shieldName;\nmsg.payload.shieldAssociation = shieldAssociation;\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 722.5000228881836,
    "y": 463.3333339691162,
    "wires": [
      [
        "c1a29979.d22ff8"
      ]
    ]
  },
  {
    "id": "275a64b2.23601c",
    "type": "switch",
    "z": "c097b169.42759",
    "name": "",
    "property": "payload.activateShield",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 560.8333435058594,
    "y": 426.66665267944336,
    "wires": [
      [
        "6c0039e8.88f538"
      ]
    ]
  },
  {
    "id": "4424de52.39026",
    "type": "debug",
    "z": "c097b169.42759",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 362.49999982118607,
    "y": 410.0000309944153,
    "wires": []
  },
  {
    "id": "85aa4df7.65308",
    "type": "ui_button",
    "z": "c097b169.42759",
    "name": "refresh",
    "group": "4493a791.d1f468",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "",
    "color": "",
    "bgcolor": "",
    "icon": "refresh",
    "payload": "{\"refresh\":true}",
    "payloadType": "json",
    "topic": "",
    "x": 492.49998474121094,
    "y": 124.9999942779541,
    "wires": [
      [
        "11f74b49.48d695"
      ]
    ]
  },
  {
    "id": "daeb89a6.908348",
    "type": "switch",
    "z": "c097b169.42759",
    "name": "",
    "property": "payload.showShield",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 728.3333129882812,
    "y": 104.99999237060547,
    "wires": [
      [
        "4ea50968.1b2958"
      ]
    ]
  },
  {
    "id": "4ea50968.1b2958",
    "type": "ui_template",
    "z": "c097b169.42759",
    "group": "ea982de6.80a2e",
    "name": "Shield Details",
    "order": 0,
    "width": "6",
    "height": "8",
    "format": "<div ng-hide=\"(msg.payload === 'failed')\" ng-if=\"msg.payload.showShield === true\">\n    <div layout-gt-sm=\"row\">\n    <span style=\"padding-bottom:20px; padding-right: 20px; font-weight: 600;\">Name:</span>\n    <span>{{msg.payload.shield.name}}</span>\n    </div>\n    <div layout-gt-sm=\"row\">\n    <span style=\"padding-bottom:20px;  padding-right: 20px; font-weight: 600;\">UUID:</span>\n    <span>{{msg.payload.shield.UUID}}</span>\n    </div>\n    <div layout-gt-sm=\"row\">\n    <span style=\"padding-bottom:20px;  padding-right: 20px; font-weight: 600;\">Type:</span>\n    <span>{{msg.payload.shield.type}}</span>\n    </div>\n    <div layout-gt-sm=\"row\" style=\"padding-bottom:20px;\">\n    <span style=\"  padding-right: 20px; font-weight: 600;\">Description:</span>\n    <span>{{msg.payload.shield.description}}</span>\n    </div>\n    <div layout-gt-sm=\"row\" style=\"padding-bottom:20px;\">\n    <span style=\" padding-right: 20px; font-weight: 600;\">CanBeDisabled:</span>\n    <span>{{msg.payload.shield.canBeDisabled}}</span>\n    </div>\n    <div layout-gt-sm=\"row\" style=\"padding-bottom:20px;\">\n    <span style=\"  padding-right: 20px; font-weight: 600;\">CanBeDisabled:</span>\n    <span>{{msg.payload.shield.canBeDisabled}}</span>\n    </div>\n    <div layout-gt-sm=\"row\" style=\"padding-bottom:20px;\">\n    <span style=\" padding-right: 20px; font-weight: 600;\">HazardDetectionOnCloud:</span>\n    <span>{{msg.payload.shield.hazardDetectionOnCloud}}</span>\n    </div>\n    <div layout-gt-sm=\"row\" style=\"padding-bottom:20px;\">\n    <span style=\"  padding-right: 20px; font-weight: 600;\">JSCodeMethod:</span>\n    <span>{{msg.payload.shield.jsCodeMethod}}</span>\n    </div>\n    <div layout-gt-sm=\"row\" style=\"padding-bottom:20px;\">\n    <span style=\"  padding-right: 20px; font-weight: 600;\">ShieldHazards:</span>\n    <span>{{msg.payload.shield.shieldHazards}}</span>\n    </div>\n    <div layout-gt-sm=\"row\" style=\"padding-bottom:20px;\">\n    <span style=\"  padding-right: 20px; font-weight: 600;\">ShieldActions:</span>\n    <span>{{msg.payload.shield.shieldActions}}</span>\n    </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "x": 918.3332862854004,
    "y": 104.99999046325684,
    "wires": [
      []
    ]
  },
  {
    "id": "1f1fd5f6.4ca1aa",
    "type": "ui_button",
    "z": "88cde31f.cd3d4",
    "name": "refresh",
    "group": "5964c4c6.7e949c",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "",
    "color": "",
    "bgcolor": "",
    "icon": "refresh",
    "payload": "{\"refresh\":true}",
    "payloadType": "json",
    "topic": "",
    "x": 520,
    "y": 58.33333206176758,
    "wires": [
      [
        "373aa18d.91b4ae"
      ]
    ]
  },
  {
    "id": "7e46485.44831b8",
    "type": "switch",
    "z": "88cde31f.cd3d4",
    "name": "",
    "property": "payload.showDevice",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 730.8333015441895,
    "y": 38.33332538604736,
    "wires": [
      [
        "b4a45892.bfd848"
      ]
    ]
  },
  {
    "id": "b4a45892.bfd848",
    "type": "ui_template",
    "z": "88cde31f.cd3d4",
    "group": "6773726f.2ed08c",
    "name": "Device Details",
    "order": 0,
    "width": "6",
    "height": "8",
    "format": "<div ng-hide=\"(msg.payload === 'failed')\" ng-if=\"msg.payload.showDevice === true\">\n    <div layout-gt-sm=\"row\">\n    <span style=\"padding-bottom:20px; padding-right: 20px; font-weight: 600;\">iot4i_device_id:</span>\n    <span>{{msg.payload.device.iot4i_device_id}}</span>\n    </div>\n    <div layout-gt-sm=\"row\">\n    <span style=\"padding-bottom:20px;  padding-right: 20px; font-weight: 600;\">Location:</span>\n    <span>{{msg.payload.device.location}}</span>\n    </div>\n    <div layout-gt-sm=\"row\">\n    <span style=\"padding-bottom:20px;  padding-right: 20px; font-weight: 600;\">Usr:</span>\n    <span>{{msg.payload.device.usr}}</span>\n    </div>\n    <div layout-gt-sm=\"row\" style=\"padding-bottom:20px;\">\n    <span style=\"  padding-right: 20px; font-weight: 600;\">Username:</span>\n    <span>{{msg.payload.device.username}}</span>\n    </div>\n    <div layout-gt-sm=\"row\" style=\"padding-bottom:20px;\">\n    <span style=\" padding-right: 20px; font-weight: 600;\">Activation:</span>\n    <span>{{msg.payload.device.activation}}</span>\n    </div>\n    <div layout-gt-sm=\"row\" style=\"padding-bottom:20px;\">\n    <span style=\"  padding-right: 20px; font-weight: 600;\">Status:</span>\n    <span>{{msg.payload.device.status}}</span>\n    </div>\n    <div layout-gt-sm=\"row\" style=\"padding-bottom:20px;\">\n    <span style=\" padding-right: 20px; font-weight: 600;\">DeviceDesc:</span>\n    <span>{{msg.payload.device.extra.deviceDesc}}</span>\n    </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "x": 944.1666145324707,
    "y": 43.33332824707031,
    "wires": [
      []
    ]
  },
  {
    "id": "87964f17.29bbe",
    "type": "ui_button",
    "z": "f2365b53.0a5be8",
    "name": "refresh",
    "group": "adc2d579.8dbca8",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "",
    "color": "",
    "bgcolor": "",
    "icon": "refresh",
    "payload": "{\"refresh\":true}",
    "payloadType": "json",
    "topic": "",
    "x": 511.6666564941406,
    "y": 49.999996185302734,
    "wires": [
      [
        "c8919075.15ae4"
      ]
    ]
  },
  {
    "id": "1d557e4e.fecbe2",
    "type": "switch",
    "z": "f2365b53.0a5be8",
    "name": "",
    "property": "payload.showShield",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 801.6666259765625,
    "y": 20.33333683013916,
    "wires": [
      [
        "a9c48dfe.d89fa"
      ]
    ]
  },
  {
    "id": "a9c48dfe.d89fa",
    "type": "ui_template",
    "z": "f2365b53.0a5be8",
    "group": "feb6e905.fa14a8",
    "name": "Shield Details",
    "order": 0,
    "width": "6",
    "height": "8",
    "format": "<div ng-hide=\"(msg.payload === 'failed')\" ng-if=\"msg.payload.showShield === true\">\n    <div layout-gt-sm=\"row\">\n    <span style=\"padding-bottom:20px; padding-right: 20px; font-weight: 600;\">ShieldUUID:</span>\n    <span>{{msg.payload.shield.shieldUUID}}</span>\n    </div>\n    <div layout-gt-sm=\"row\">\n    <span style=\"padding-bottom:20px;  padding-right: 20px; font-weight: 600;\">Username:</span>\n    <span>{{msg.payload.shield.username}}</span>\n    </div>\n    <div layout-gt-sm=\"row\">\n    <span style=\"padding-bottom:20px;  padding-right: 20px; font-weight: 600;\">ShieldName:</span>\n    <span>{{msg.payload.shield.shieldName}}</span>\n    </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "x": 991.6665992736816,
    "y": 20.333334922790527,
    "wires": [
      []
    ]
  },
  {
    "id": "f2ed6829.569a28",
    "type": "ui_button",
    "z": "532a8de4.58e8a4",
    "name": "refresh",
    "group": "8e538a7.a756e78",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "",
    "color": "",
    "bgcolor": "",
    "icon": "refresh",
    "payload": "{\"refresh\":true}",
    "payloadType": "json",
    "topic": "",
    "x": 505,
    "y": 58.000003814697266,
    "wires": [
      [
        "c81d1a36.826858"
      ]
    ]
  },
  {
    "id": "ece178b0.a3f828",
    "type": "switch",
    "z": "532a8de4.58e8a4",
    "name": "",
    "property": "payload.showHazardEvent",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 740.8333282470703,
    "y": 38.00000190734863,
    "wires": [
      [
        "6a9600.35e5da"
      ]
    ]
  },
  {
    "id": "6a9600.35e5da",
    "type": "ui_template",
    "z": "532a8de4.58e8a4",
    "group": "29bbbef3.b20422",
    "name": "hazard event Details",
    "order": 0,
    "width": "6",
    "height": "8",
    "format": "<div ng-hide=\"(msg.payload === 'failed')\" ng-if=\"msg.payload.showHazardEvent === true\">\n    <div layout-gt-sm=\"row\">\n    <span style=\"padding-bottom:20px; padding-right: 20px; font-weight: 600;\">Username:</span>\n    <span>{{msg.payload.hazardEvent.username}}</span>\n    </div>\n    <div layout-gt-sm=\"row\">\n    <span style=\"padding-bottom:20px;  padding-right: 20px; font-weight: 600;\">Islocal:</span>\n    <span>{{msg.payload.hazardEvent.islocal}}</span>\n    </div>\n    <div layout-gt-sm=\"row\">\n    <span style=\"padding-bottom:20px;  padding-right: 20px; font-weight: 600;\">HazardEventUUID:</span>\n    <span>{{msg.payload.hazardEvent.hazardEventUUID}}</span>\n    </div>\n    <div layout-gt-sm=\"row\" style=\"padding-bottom:20px;\">\n    <span style=\"  padding-right: 20px; font-weight: 600;\">Title:</span>\n    <span>{{msg.payload.hazardEvent.title}}</span>\n    </div>\n    <div layout-gt-sm=\"row\" style=\"padding-bottom:20px;\">\n    <span style=\" padding-right: 20px; font-weight: 600;\">Timestamp:</span>\n    <span>{{msg.payload.hazardEvent.timestamp}}</span>\n    </div>\n    <div layout-gt-sm=\"row\" style=\"padding-bottom:20px;\">\n    <span style=\"  padding-right: 20px; font-weight: 600;\">DeviceDesc:</span>\n    <span>{{msg.payload.hazardEvent.extra.deviceDesc}}</span>\n    </div>\n    <div layout-gt-sm=\"row\" style=\"padding-bottom:20px;\">\n    <span style=\" padding-right: 20px; font-weight: 600;\">LocationDesc:</span>\n    <span>{{msg.payload.hazardEvent.extra.locationDesc}}</span>\n    </div>\n    <div layout-gt-sm=\"row\" style=\"padding-bottom:20px;\">\n    <span style=\"  padding-right: 20px; font-weight: 600;\">IsHandled:</span>\n    <span>{{msg.payload.hazardEvent.extra.isHandled}}</span>\n    </div>\n    <div layout-gt-sm=\"row\" style=\"padding-bottom:20px;\">\n    <span style=\"  padding-right: 20px; font-weight: 600;\">Urgent:</span>\n    <span>{{msg.payload.hazardEvent.extra.urgent}}</span>\n    </div>\n    <div layout-gt-sm=\"row\" style=\"padding-bottom:20px;\">\n    <span style=\"  padding-right: 20px; font-weight: 600;\">HazardEventID:</span>\n    <span>{{msg.payload.hazardEvent.hazardEventID}}</span>\n    </div>\n    <div layout-gt-sm=\"row\" style=\"padding-bottom:20px;\">\n    <span style=\"  padding-right: 20px; font-weight: 600;\">Ishandled:</span>\n    <span>{{msg.payload.hazardEvent.ishandled}}</span>\n    </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "x": 950.8333015441895,
    "y": 38,
    "wires": [
      []
    ]
  },
  {
    "id": "6bffc34f.11ba9c",
    "type": "debug",
    "z": "c097b169.42759",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 286,
    "y": 498,
    "wires": []
  },
  {
    "id": "a7fc3ecc.9f702",
    "type": "ui_form",
    "z": "532a8de4.58e8a4",
    "name": "Simulate Event",
    "label": "",
    "group": "3c2016d7.fc7f3a",
    "order": 0,
    "width": "0",
    "height": "0",
    "options": [
      {
        "label": "outputtype",
        "value": "outputtype",
        "type": "text",
        "required": true
      },
      {
        "label": "devicetype",
        "value": "devicetype",
        "type": "text",
        "required": true
      },
      {
        "label": "deviceid",
        "value": "deviceid",
        "type": "text",
        "required": true
      },
      {
        "label": "type",
        "value": "type",
        "type": "text",
        "required": true
      },
      {
        "label": "payload",
        "value": "payload",
        "type": "text",
        "required": true
      }
    ],
    "formValue": {
      "outputtype": "",
      "devicetype": "",
      "deviceid": "",
      "type": "",
      "payload": ""
    },
    "payload": "",
    "topic": "",
    "x": 728,
    "y": 325,
    "wires": [
      [
        "d533b00f.763b1",
        "2a6fe287.15f85e"
      ]
    ]
  },
  {
    "id": "d533b00f.763b1",
    "type": "function",
    "z": "532a8de4.58e8a4",
    "name": "",
    "func": "var outputType = msg.payload.outputtype;\nvar deviceType = msg.payload.devicetype;\nvar deviceId = msg.payload.deviceid;\nvar type = msg.payload.type;\nvar payload = msg.payload.payload;\nmsg.payload = {};\nmsg.payload.apiGroup = 'IotIGlobal';\nmsg.payload.api = 'sendPayloadToMQTT';\nmsg.payload.outputType = outputType;\nmsg.payload.deviceType = deviceType;\nmsg.payload.deviceId = deviceId;\nmsg.payload.type = type;\nmsg.payload.payload = JSON.parse(payload);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 942.7142753601074,
    "y": 325.99999046325684,
    "wires": [
      [
        "9d385132.a7bec"
      ]
    ]
  },
  {
    "id": "bdba3499.060e98",
    "type": "switch",
    "z": "532a8de4.58e8a4",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "failed",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 265.5,
    "y": 338,
    "wires": [
      [
        "7f8989b6.ae2488"
      ]
    ]
  },
  {
    "id": "7f8989b6.ae2488",
    "type": "function",
    "z": "532a8de4.58e8a4",
    "name": "",
    "func": "\nvar prevCount = context.get(\"count\")\nvar hazardEvents = msg.payload.hazardEvents;\nvar currentCount = msg.payload.hazardEvents.length;\nif (currentCount > prevCount)\n{\nmsg.payload = {};\nmsg.payload.hazard = true;\ninsertionSort(hazardEvents,\"timestamp\");\nmsg.payload.hazardEvent = hazardEvents[currentCount -1];\n}\ncontext.set(\"count\",hazardEvents.length);\n\nfunction insertionSort(files,attrToSortBy){\n  for(var k=1; k < files.length; k++){\n     for(var i=k; i > 0 && new Date(files[i][attrToSortBy]) < \n       new Date(files[i-1][attrToSortBy]); i--){\n\n        var tmpFile = files[i];\n        files[i] = files[i-1];\n        files[i-1] = tmpFile;\n\n     }\n  }\n\n}\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 450.5,
    "y": 342,
    "wires": [
      [
        "a8985883.a49a08"
      ]
    ]
  },
  {
    "id": "a8985883.a49a08",
    "type": "switch",
    "z": "532a8de4.58e8a4",
    "name": "",
    "property": "payload.hazard",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 603.5,
    "y": 388,
    "wires": [
      [
        "c6b4ffef.e5872"
      ]
    ]
  },
  {
    "id": "54ac0a46.f4f424",
    "type": "link in",
    "z": "577b7a91.096d94",
    "name": "mainNotificationIn",
    "links": [
      "c6b4ffef.e5872"
    ],
    "x": 552.5,
    "y": 36,
    "wires": [
      [
        "8b81e870.f057d8"
      ]
    ]
  },
  {
    "id": "c6b4ffef.e5872",
    "type": "link out",
    "z": "532a8de4.58e8a4",
    "name": "hazardFoundOut",
    "links": [
      "54ac0a46.f4f424"
    ],
    "x": 750.5,
    "y": 387,
    "wires": []
  },
  {
    "id": "a6115a1c.057be8",
    "type": "inject",
    "z": "532a8de4.58e8a4",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "30",
    "crontab": "",
    "once": true,
    "x": 736.5,
    "y": 264,
    "wires": [
      [
        "9fb6a6c6.2e2948"
      ]
    ]
  },
  {
    "id": "b5a667fc.618bc8",
    "type": "switch",
    "z": "577b7a91.096d94",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nnull"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 1038.5,
    "y": 69,
    "wires": [
      [
        "77590e1c.63c57"
      ]
    ]
  },
  {
    "id": "2a6fe287.15f85e",
    "type": "debug",
    "z": "532a8de4.58e8a4",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 864.5,
    "y": 381,
    "wires": []
  }
]